$ cat .gitattributes
*.0 linguist-documentation
*.1 linguist-documentation
*.2 linguist-documentation
*.3 linguist-documentation
*.4 linguist-documentation
*.5 linguist-documentation
*.6 linguist-documentation
*.7 linguist-documentation
*.8 linguist-documentation
*.9 linguist-documentation

