[build]
publish = "public"
command = "make production-build"

[build.environment]
HUGO_VERSION = "0.81.0"

[context.deploy-preview]
command = "make preview-build"

[context.branch-deploy]
command = "make preview-build"

# Set headers for docsy conversion development to prevent search engines from
# indexing the WIP site.
#
# Based on hrishikesh's comment here:
# https://answers.netlify.com/t/prevent-google-indexing-dev-staging-subdomain/32456/8
[context.branch-deploy.headers]
  for = "/*"
  [context.banch-deploy.headers.values]
    X-Robots-Tag = "noindex"

# An edit to test the context above.

[[redirects]]
from = "/docs/v3.4.0/branch-management"
to = "/docs/v3.4.0/branch_management"
status = 301
force = false

[[redirects]]
from = "/docs/v3.4.0/reporting-bugs"
to = "/docs/v3.4.0/reporting_bugs"
status = 301
force = false

