[build]
publish = "public"
command = "git submodule update --init --recursive --depth 1 && make production-build"

[build.environment]
HUGO_VERSION = "0.81.0"
NODE_VERSION = "10.19.0"

[context.deploy-preview]
command = "git submodule update --init --recursive --depth 1 && make preview-build"

[context.branch-deploy]
command = "git submodule update --init --recursive --depth 1 && make preview-build"

# Set headers for docsy conversion development to prevent search engines from
# indexing the WIP site.
#
# Based on hrishikesh's comment here:
# https://answers.netlify.com/t/prevent-google-indexing-dev-staging-subdomain/32456/8
[context.branch-deploy.headers]
  for = "/*"
  [context.banch-deploy.headers.values]
    X-Robots-Tag = "noindex"

[[redirects]]
from = "/docs/v3.4.0/branch-management"
to = "/docs/v3.4.0/branch_management"
status = 301
force = false

[[redirects]]
from = "/docs/v3.4.0/reporting-bugs"
to = "/docs/v3.4.0/reporting_bugs"
status = 301
force = false

[[redirects]]
from = "/blog/jepsen-343-results"
to = "/blog/2020/01/30/latest-jepsen-results-against-etcd-3.4.3/"
status = 301
force = false
