<!-- based on https://github.com/kubernetes/website/blob/master/layouts/partials/deprecation-warning.html -->

{{ if and (ne site.Params.versions.latest .CurrentSection.Params.version) (ne "current" .CurrentSection.Params.version) }}

{{ $original_version := printf "/%s/" .CurrentSection.Params.version }}
{{ $currentUrl := .Permalink }}
{{ $new_version := printf "/%s/" site.Params.versions.latest }}

<section class="section" id="deprecation-warning">
  <div class="content deprecation-warning">
    <h3>
      You are viewing documentation for etcd version: {{ .Param "version" }}
    </h3>
    <p> etcd {{ .Param "version" }} documentation is no longer actively maintained. The version you are currently viewing is a static snapshot. For up-to-date documentation, see the latest release,
    <a href="{{ replace $currentUrl $original_version $new_version | relURL }}">{{ site.Params.versions.latest }}</a>, or the
    <a href="{{ replace $currentUrl $original_version "/current/" | relURL }}">current documentation</a>.
    </p>
  </div>
</section>

{{ end }}

