<!-- based on https://github.com/kubernetes/website/blob/master/layouts/partials/deprecation-warning.html -->

{{ if and (ne site.Params.versions.latest .CurrentSection.Params.version) (ne "next" .CurrentSection.Params.version) }}

{{ $current_file := .File }}

{{ $original_version := printf "/%s/" .CurrentSection.Params.version }}
{{ $currentUrl := .Permalink }}
{{ $new_version := printf "/%s/" site.Params.versions.latest }}

{{ $target_file := replace $current_file $original_version $new_version }}

<section class="section" id="deprecation-warning">
  <div class="content deprecation-warning">
    <h3>
      You are viewing documentation for etcd version: {{ .Param "version" }}
    </h3>
    <p> etcd {{ .Param "version" }} documentation is no longer actively maintained. The version you are currently viewing is a static snapshot. For up-to-date documentation, see the latest release,
    {{/* check if the file we are linking to in the other version exists */}}
    {{ if (fileExists $target_file) -}}
    <a href="{{ replace $currentUrl $original_version $new_version | relURL }}">{{ site.Params.versions.latest }}</a>, or the
    <a href="{{ replace $currentUrl $original_version "/next/" | relURL }}">current documentation</a>.
    {{ else }}
    {{/* if not, then link to the top level of that version instead */}}
    <a href="{{ index (findRE `^(.*?)\/v\d+.\d+\/` (replace $currentUrl $original_version $new_version | relURL)) 0 }}">{{ site.Params.versions.latest }}</a>, or the
    <a href="{{ index (findRE `^(.*?)current\/` (replace $currentUrl $original_version "/next/" | relURL)) 0 }}">current documentation</a>.
    {{- end }}
    </p>
  </div>
</section>

{{ end }}

