{{ $logo := .Site.Params.logos.footer }}
{{ $year := now.Year }}
<footer class="footer has-background-dark has-text-centered">
    <img class="is-footer-logo" src="{{ $logo }}" alt="etcd footer logo">

  <p class="is-size-4 is-size-5-mobile has-text-white-bis has-text-weight-light">
    &copy; etcd Authors {{ $year }} | Documentation Distributed under CC-BY-4.0
  </p>

  <p class="is-size-5 is-size-6-mobile has-text-white-bis has-text-weight-light">
    &copy; {{ $year }} The Linux Foundation. All rights reserved. The Linux Foundation has registered trademarks and uses trademarks.<br />For a list of trademarks of The Linux Foundation, please see our Trademark Usage page.
  </p>
</footer>
