{{ if ((eq "docs" (index (split .Page.RelPermalink "/") 1)) | or (eq "docs" (index (split .Page.RelPermalink "/") 2))) }}
<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
  {{ .Site.Params.version_menu }}
</a>
<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
  {{/* 
  Version dropdown modified from the work https://github.com/tbatard did on the velero site:
  https://github.com/vmware-tanzu/velero/blob/main/site/layouts/docs/versions.html
  */}}

  {{ $current_file := .File }}

  {{ $original_version := printf "/%s/" .CurrentSection.Params.version }}
  {{ $latest_url := replace .Params.url .CurrentSection.Params.version .Site.Params.latest | relURL }}
  {{ $currentUrl := .Permalink }}

  {{ range .Site.Params.versions.all }}
  {{ $new_version := printf "/%s/" . }}
  {{ $target_file := replace $current_file $original_version $new_version }}


  {{/* check if the file we are linking to in the other version exists */}}
  {{ if (fileExists $target_file) -}}
  <a class="dropdown-item" 
     href="{{ replace $currentUrl $original_version $new_version | relURL }}">{{ . }}</a>
  {{ else }}
  {{/* if not, then link to the top level of that version instead */}}
  {{ if eq "/current/" $new_version }}
  <a class="dropdown-item" 
     href="{{ index (findRE `^(.*?)\/current\/` (replace $currentUrl $original_version $new_version | relURL)) 0 }}">{{ . }}</a>
  {{ else if ne "/v2/" $new_version }}
  <a class="dropdown-item" 
     href="{{ index (findRE `^(.*?)\/v\d+.\d+.\d+\/` (replace $currentUrl $original_version $new_version | relURL)) 0 }}">{{ . }}</a>
  {{ else }}
  <a class="dropdown-item" 
     href="{{ index (findRE `^(.*?)\/v\d+\/` (replace $currentUrl $original_version $new_version | relURL)) 0 }}">{{ . }}</a>
  {{ end }}
  {{- end }}
  {{ end }}
  {{ end }}
</div>
