{{/* etcd-docsy file override */ -}}

{{ if or (eq .Params.versStatus "DRAFT") (eq .Params.versStatus "ARCHIVE") -}}
  {{ $pageWarning := .Params.page_warning -}}
  {{ $thisFile  := .File -}}
  {{ $thisURL   := .RelPermalink -}}
  {{ $thisVers  := .Params.version -}}
  {{ $thisVersName := .Params.versName | default $thisVers -}}
  {{ $thisVersURI := printf "/%s/" $thisVers -}}

  {{ $vers := .Site.Params.versions.latest -}}
  {{ $versURI := printf "/%s/" $vers -}}
  {{ $versPath := printf "/docs/%s/" $vers -}}

  {{ $targetFile := replace $thisFile $thisVersURI $versURI -}}
  {{ $targetURL := replace $thisURL $thisVersURI $versURI | relURL -}}
  {{ if not (and $thisVers (fileExists $targetFile)) -}}
    {{ $targetURL = $versPath -}}
  {{ end -}}

  {{ $color := "warning" -}}
  <div class="alert alert-warning" role="alert">
    <p>
    <i class="fa fa-exclamation-triangle" aria-hidden="true">&nbsp;</i>
    {{ if eq .Params.versStatus "DRAFT" }}
    {{ $pageWarning | markdownify }}
    {{ else }}
    Documentation for version {{ $thisVersName }} is no longer actively maintained.
    The version you are currently viewing is a static snapshot.
    {{ end }}
    See the <a href="{{ $targetURL }}">latest version</a>.
    </p>
  </div>
{{ end }}
