{{ $img := "https://raw.githubusercontent.com/cncf/artwork/master/projects/etcd/stacked/color/etcd-stacked-color.png" }}
<!DOCTYPE html>
<html>
  <head>
    <title>etcd | 404 not found</title>
    {{ partial "css.html" . }}
  </head>
  <body>
    <section class="hero is-fullheight">
      <div class="hero-body has-text-centered">
        <div class="container">
          <img src="{{ $img }}" width="150px">

          <hr />

          <p class="title is-size-1 is-size-2-mobile has-text-weight-bold is-spaced">
            404 not found
          </p>

          <p class="subtitle">
            We're sorry, but this page could not be found. Perhaps you were looking for:
          </p>

          <ul>
            <li>
              <a class="is-size-5" href="/">
                The etcd main page
              </a>
            </li>
            <li>
              <a class="is-size-5" href="/docs/latest">
                The etcd documentation
              </a>
            </li>
            <li>
              <a class="is-size-5" href="https://github.com/etcd-io/etcd">
                The etcd GitHub repo
              </a>
            </li>
          </ul>
        </div>
      </div>
    </section>
  </body>
</html>
