{{ $authors := . }}
{{ with $authors }}
{{ $numAuthors := len . }}
<p class="subtitle is-size-4 is-size-5-mobile">
  {{ range $idx, $author := . }}
  {{ $isLast := eq (add 1 $idx) $numAuthors }}
  {{ $author.name }}{{ if not $isLast }}, {{ end }}

  {{ with $author.twitter }}
  —
  {{ $handle := printf "@%s" . }}
  {{ $link   := printf "https://twitter.com/%s" . }}
  <a href="{{ $link }}" target="_blank">
    <small>
      {{ $handle }}
    </small>
  </a>
  {{ end }}
  {{ end }}
</p>
{{ end }}
