{{ $home := site.BaseURL }}
{{ $logo := site.Params.logos.navbar }}
<nav class="navbar is-black is-fixed-top has-shadow">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" href="{{ $home }}">
        <img src="{{ $logo }}">
      </a>

      <a class="navbar-item is-size-4 has-text-weight-bold" href="/blog">
        The etcd blog
      </a>

      <span class="navbar-item">
        <a class="button is-orange" href="/blog/index.xml">
          <span class="icon">
            <i class="fas fa-rss"></i>
          </span>
        </a>
      </span>
    </div>
  </div>
</nav>
