{{ $posts := where site.RegularPages "Section" "blog" }}
{{ $num   := len $posts }}
<section class="section">
  <div class="container">
    {{ range $idx, $post := $posts }}
    {{ $isLast := eq (add 1 $idx) $num }}
    <article class="blog-article">
      <header class="blog-header">
        <p class="title is-size-2 is-size-3-mobile has-text-weight-light{{ if .Date }} is-spaced{{ end }}">
          <a href="{{ .RelPermalink }}">
            {{ $post.Title }}
          </a>
        </p>

        {{ with $post.Date }}
        {{ $date := dateFormat "January 2, 2006" . }}
        <p class="subtitle is-size-5 is-size-6-mobile">
          {{ $date }}
        </p>
        {{ end }}
      </header>

      <hr class="thick-hr" />

      <main class="blog-main">
        {{ .Content }}
      </main>
    </article>

    {{ if not $isLast }}
    <hr />
    {{ end }}
    {{ end }}
  </div>
</section>
