{{ $posts := where site.RegularPages "Section" "blog" }}
<section class="section">
  <div class="container">
    {{ range $posts }}
    <article>
      <header>
        <p class="title is-size-1 is-size-2-mobile has-text-weight-light{{ if .Date }} is-spaced{{ end }}">
          {{ .Title }}
        </p>

        {{ with .Date }}
        {{ $date := dateFormat "January 2, 2006" . }}
        <p class="subtitle is-size-4 is-size-5-mobile">
          {{ $date }}
        </p>
        {{ end }}
      </header>

      <hr class="thick-hr" />

      <main>
        {{ .Content }}
      </main>
    </article>
    {{ end }}
  </div>
</section>
