{{ $project  := .Site.Params.project | markdownify }}
{{ $overview := .Site.Params.overview | markdownify }}
{{ $adopters := .Site.Params.adopters }}
<section class="section">
  <div class="container">
    <p class="title is-size-2 is-size-3-mobile has-text-primary has-text-weight-bold">
      etcd是什么?
    </p>

    <hr class="has-background-primary" />

    <div class="columns is-variable is-8">
      <div class="column">
        <p class="title has-text-weight-light">
          项目
        </p>

        <hr class="has-background-danger" />

        <div class="content is-medium">
          {{ $project }}
        </div>
      </div>

      <div class="column">
        <p class="title has-text-weight-light">
          技术概述
        </p>

        <hr class="has-background-danger" />

        <div class="content is-medium">
          {{ $overview }}
        </div>
      </div>

      <div class="column">
        <p class="title has-text-weight-light">
          使用案例
        </p>

        <hr class="has-background-danger" />

        {{ range where $adopters "logo" "!=" nil }}
        <div class="is-adopter-block">
          <a href="{{ .link }}" target="_blank">
            <img class="is-project-logo" src="{{ .logo }}">
          </a>

          {{ with .description }}
          <div class="content is-medium">
            {{ . | markdownify }}
          </div>
          {{ end }}
        </div>
        {{ end }}

        <br />

        <ul class="adopter-list">
          {{ range where $adopters "logo" "eq" nil }}
          <li>
            <a class="is-size-4" href="{{ .link }}">
              {{ .name }}
            </a>

            {{ with .description }}
            <p>
              {{ . }}
            </p>
            {{ end }}
          </li>
          {{ end }}
        </ul>

        <hr class="has-background-danger" />

        <div class="is-adopter-block"> 
          <div class="content is-medium">
            此外， <a href="https://github.com/search?utf8=%E2%9C%93&q=etcd/">GitHub上的数千个项目</a>都与etcd有关联, 包括基于etcd构建的项目，客户端绑定，等等。
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
