{{ $faq := site.Data.faq }}
<table>
  <thead>
    <tr>
      <th>
        <p class="is-size-4 is-size-5-mobile">
          问题
        </p>
      </th>
      <th>
        <p class="is-size-4 is-size-5-mobile">
          答案
        </p>
      </th>
    </tr>
  </thead>
  <tbody>
    {{ range $faq }}
    {{ $question := .q | markdownify }}
    {{ $answer   := .a | markdownify }}
    <tr>
      <td>
        {{ $question }}
      </td>
      <td>
        {{ $answer }}
      </td>
    </tr>
    {{ end }}
  </tbody>
</table>
